body {
    font-family: sans-serif;
    font-size: 14px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#canvas {
    outline: 1px solid black;
    z-index: 0;
    margin: 8px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 8px;
}

li.button {
    text-align: center;
    cursor: pointer;
    padding: 8px;
    background: white;
}

li.active {
    background: black;
    color: white;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
